/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/montserrat-v25-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/montserrat-v25-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  * {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: #000;
  }

  .container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .site__header {
    background-color: #282828;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }

  .main__wrapper {
    display: flex;
    align-items: center;
    padding-top: 6px;
  }

  .middle__wrapper {
    display: flex;
    align-items: center;
  }

  .navigation__list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 683px;
  }

 .navigation__items{
    float: left;
    margin-right: 30px;
 }

 .navigation__items:last-child {
    margin-right: 0;
 }

 .navigation__link {
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #fff;
    text-decoration: none;
 }

 .image {
    margin-left: 25px;
 }

 .site__aside {  
    position: relative;
    background-image: url('./images/Header.svg');
    background-repeat: no-repeat;
    height: 700px;
    padding-bottom: 30px;
 }


 .text__wrapper > h1 {
    font-weight: 400;
    font-size: 100px;
    line-height: 75px;
    text-align: center;
    color: #fff;
    margin: 0;
    margin-bottom: 50px;
    padding-top: 204px;
 }

 .text__wrapper > a {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 470px;
    padding: 13px 14px;
 }

 .hero {
    padding-bottom: 79px;
 }

 .hero__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
 }

 .hero__list {
    padding: 0;
    margin: 0;
    list-style: none;
 }

 .hero__items {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
 }

 .hero__items:nth-child(1) > p {
    margin-right: 30px;
    padding-bottom: 100px;
 }

 .hero__items:nth-child(2) {
    flex-direction: row-reverse;
 }

 .hero__items:nth-child(2) > p {
    margin-left: 87px;
 }

 .hero__items:nth-child(3) {
    justify-content: space-around;
 }

 .hero__items > p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin: 0;
 }

 .first__text {
    margin-right: 83px;
 }
 